= simple_form_for(@show) do |f|
  = f.error_notification

  .form-inputs

    = f.input :name

    = f.input :description

    = f.input :total_episodes

    = f.input :image_url


  .form-actions
    .button-group.round
      %li
        = f.button :submit, "Update show", :class => "button button-black"
      %li
        = link_to 'Show', @show, :class => "button button-black"
      %li
        = link_to 'Back', shows_path, :class => "button button-black"
