= simple_form_for(@show) do |f|
  = f.error_notification

  .form-inputs

    = f.input :name

    = f.input :description

    = f.input :total_episodes

    = f.input :image_url


  .form-actions
    = f.button :submit
