%h1 Listing shows

.row
  .small-12.columns
    - @shows.each do |show|
      .row.alternating
        .large-3.columns
          = image_tag "#{show.image_url}"
        .large-9.columns
          %h4= show.name
          %p
            %strong
              Description:
            = show.description
          %p
            %strong
              Episodes:
            #{show.total_episodes}
          .button-group.round.sticky-right
            %li
              = link_to 'Edit', edit_show_path(show), :class => "button button-black"
            %li
              = link_to 'Delete', show, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "button button-black"

%br

= link_to 'New Show', new_show_path, class: "button round button-black"
