.contain-to-grid
  %nav.top-bar
    %ul.title-area
      / Title Area
      %li.name
        %h1
          = link_to 'animeList', root_path
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
    %section.top-bar-section
      / Right Nav Section
      - if user_signed_in?
        %ul.right
          %li.divider.hide-for-small
          %li
            = link_to "#{current_user.username}", root_path
          %li.divider.hide-for-small
          %li
            = link_to 'Settings', edit_user_registration_path
          %li.divider.hide-for-small
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %ul.right
          %li.divider.hide-for-small
          %li
            = link_to 'Login', new_user_session_path
          %li.divider.hide-for-small
          %li
            = link_to 'Sign up', new_user_registration_path